body {
  background-image: url("./assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; /* Cobre toda a página */
}

#container {
  width: 360px;
  border: 1px solid white;

  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}
