* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que os paddings, margin sejam aplicados na caixa do elemento */
}

body {
  background-image: url("./assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; /* Cobre toda a página */
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;

  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;

  margin-top: 8px;
}

/* Links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px; /* Espaçamento entre as colunas do flex-direction */

  padding: 24px 0;
}

ul li a {
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px); /* Deixa o fundo um pouco embaçado */
  -webkit-backdrop-filter: blur(4px); /* Tag para funcionar no safari */

  text-decoration: none; /* Retira o sublinhado do link */
  font-weight: 500; /* Deixa o texto em negrito */

  transition: background 0.2s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
}

/* social links */

#social-links {
  display: flex;

  padding: 24px 0;
  gap: 32px;

  justify-content: center;

  font-size: 24px;
}
